
@import url('https://fonts.googleapis.com/css?family=Karla|Spectral');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

*{
    font-family: 'Karla', sans-serif;
}

body{
    margin:0;
}

header{
    width: 100%;
    height: 3em;
}

#burguer{
    width: 2.5em;
    height: 2.5em;
    margin-top: 0.5em; 
    margin-left: 0.5em;
    position: fixed;
}

#menuContent{
    display: none;
    margin-left: -3em;
    margin-top: 3em;
    z-index: 1;
}

.menu {
    background-color: black; 
    border: none;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    display: block;
    padding: 0.5em;

}

header nav{
    width: 70%;
    height: 50%;
    position: fixed;
  }
  
header nav ul{
    list-style: none;
}
  
header nav ul li a:link{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-decoration-style: none;
}

header nav ul li a:visited{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-decoration-style: none;
}

header nav ul li a:active{
    color: #4EBA65;
    font-size: 1.5em;
    text-decoration: none;
    text-decoration-style: none;
}
header nav ul li a:hover{
    color: #4EBA65;
    transition-duration: 0.7s;
    font-size: 1.5em;
    text-decoration: none;
    text-decoration-style: none;
}



main{
    width: 100%;
    height: 30%;
    text-align: center;
    margin-top: 1em;
}

main p {
    font-size: 1.5em;
    width: 80%;
    margin-left: 10%;
}

main div div h1{
    font-family: 'Poiret One';
    font-weight: bolder;
}

#logo{
    width: 40%;
    height: 40%;
}

span{
    color: #4EBA65;
}

.button{
    border: 2px solid #4EBA65;
    background: none;
    color: #4EBA65;
    border-radius: 2em;
    width: 80%;
    font-size: 1.5em;
}

.button:focus{
    outline: none; 
}

section{
    margin-top: 2em;
    background-color:  #1B2021;
    height: 600px;
}
h2{
    text-align: center;
    margin-bottom: 1em;
    color: white;
    margin-top: 1em;
    padding-top: 0.5em;
    font-family: 'Poiret One';
    font-weight: bolder;
}

.decoration{
    width: 0.6em;
    height: 0.6em;
}

section div div div p{
    color: white;
    text-align: center;
}

.slide{
    width: 70%;
    margin-left: 15%;
    height: 250px;
}

#dataImage{
    width: 100%;
    height: 200px;
    margin-left:0; 
}

.projectButton{
    color: white;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    border-radius: 1em;
    margin-top: 0.5em;
    border: none;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    cursor: pointer;
    border: 2px solid white;
    background: none;
}

.projectButton:focus{
    outline: none; 
}

.projectButton:hover{
    background-color: #4EBA65;
    transition-duration: 0.5s; 
}


#projectsButton{
    margin-top: 8em;
    margin-left: 10%;
}

#projectsButton:focus{
    outline: none; 
}

#projectsButton:hover{
    background-color: white;
    transition-duration: 0.5s; 

}

#myProjects:hover{
    background-color: #1B2021;
    transition-duration: 0.5s;
}

.contact{
    width: 2em;
    height: 2em;
    margin-top: 0.5em;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
}

#linkedin{
    margin-left: 0;
}

footer{
    background-color: #4EBA65;
    color: white;
    text-align: center;
}


#rights{
    margin: 0;
    font-size: 0.7em;
}


@media (min-width: 768px){
    #logo{
        width: 20%;
        height: 20%;
    }

    main h1{
        font-size: 3em;
    }

    main p{
        font-size: 2em;
    }

    #aboutMeContainer{
        overflow: auto;
        width: 60%;
        margin-left: 20%; 
        margin-top: 3em;
        
    }

    #logo,#myNameContainer{
        float: left;
    }

    #myNameContainer{
        margin-left: 1em;
        
    }

    #logo{
        margin-top: 0.5em;
    }

    #UX{
        margin-left: 0;
        text-align: left;
    }

    h2{
    font-size: 2.5em;
    margin-bottom: 0.5em;
    }

    .button{
        width: 40%;
    }

    #projectsButton{
        margin-left: 30%;
        margin-top: 6em;
    }

    .slide{
        width: 50%;
        margin-left: 25%;
        height: 300px;
    }

    .projectButton{
        width: 60%;
        margin-left: 20%;

    }

    #menuContent{
        width: 40%;
    }

    .contact{
        width: 2.5em;
        height: 2.5em;
        margin-top: 1em;
        margin-left: 1.5em;
        margin-bottom: 1em;
    }  
    
    
    #rights{
        font-size: 0.8em;
    }

}


@media (min-width: 1024px){
    #burguer{
        display: none;
      }


    .menu{
        float: left;
        padding: 0;
        border: none;
        background-color: transparent;
        font-size: 1em;
    
    }
    
    #menuContent{
        display: inherit !important;
        width: 45%;
        height: 100%;
        margin-top: 0;
        margin-left: 55%;
    }

    header{
        background: #1B2021;
        margin: 0;
        height:3em;
        width: 100%;
        margin-top: -1em;
    }

    header nav{
        position: initial;
      }
    
      nav ul{
        text-align: center;
      }
    
      nav ul li{
        text-align: center;
        margin-left: 1.5em;
        margin-top: 0.3em;
      
      }
      
    /*   header nav ul li:hover{
        background-color: #000000;
      }
      header nav ul li a:hover{
        background-color: #000000;
        color: white !important;
      } */
    
      header nav ul li a:visited{
        color: white;
        vertical-align:middle;
        font-weight: bold;
      }

      header nav ul li a:hover{
        border-bottom:2px solid #4EBA65 ;
        transition-duration: 0.1s;
        color: #4EBA65;
      }


   /*    nav ul li a:active:nth-child(1){
        
      }
 */

 #aboutMeContainer{
    width: 50%;
    margin-left: 25%; 
 }

 
 #myNameContainer{
    margin-left: 2em;
}

#logo{
    margin-left: 1.5em;
}


      




    .slide{
        width: 40%;
        margin-left: 30%;
        height: 300px;
    }

    .projectButton{
        width: 50%;
        margin-left: 25%;

    }

    .button{
        width: 25%;
    }

    #projectsButton{
        margin-left: 37.5%;
        margin-top: 5em;
    }

    h2{
        margin-bottom: 1em;
    }


    .contact{
        width: 3em;
        height: 3em;
        margin-left: 2.5em;
/*         margin-top: 1em;
       
        margin-bottom: 1em; */
    }  
    
    
    #rights{
        font-size: 0.9em;
    }


}

@media (min-width: 1280px){

   #menuContent{
        width: 35%;
        margin-left: 65%;   
    }

    #myNameContainer{
        margin-top: 1em;
    }

    #aboutMeContainer{
        margin-bottom: 1em;
        margin-left: 30%;
    }

    .button{
        width: 20%;
    }

    #projectsButton{
      margin-left: 40%;
    }
}
