@import url('https://fonts.googleapis.com/css?family=Signika+Negative');

*{
    font-family: 'Signika Negative', sans-serif;
}

body{
    margin:0;
}

header{
    width: 100%;
    height: 3em;
}

#burguer{
    width: 2.5em;
    height: 2.5em;
    margin-top: 0.5em; 
    margin-left: 0.5em;
    position: fixed;
}

#menuContent{
    display: none;
    margin-left: -3em;
    margin-top: 3em;
    z-index: 1;
}

.menu {
    background-color: black; 
    border: none;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    display: block;
    padding: 0.5em;

}

header nav{
    width: 70%;
    height: 50%;
    position: fixed;
  }
  
header nav ul{
    list-style: none;
}
  
header nav ul li a{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}


main{
    width: 100%;
    height: 30%;
    text-align: center;
    margin-top: 1em;
}

main p {
    font-size: 1.5em;
    width: 80%;
    margin-left: 10%;
}

#logo{
    width: 40%;
    height: 40%;
}

span{
    color: #2e8538;
}

.button{
    border: 2px solid #2e8538;
    background: none;
    color: #2e8538;
    border-radius: 2em;
    width: 80%;
    font-size: 1.5em;
}

.button:focus{
    outline: none; 
}

section{
    margin-top: 2em;
    background-color:  #1B2021;
    height: 600px;
}
h2{
    text-align: center;
    margin-bottom: 1em;
    color: white;
    margin-top: 1em;
    padding-top: 0.5em;
}

.decoration{
    width: 0.6em;
    height: 0.6em;
}

section div div div p{
    color: white;
    text-align: center;
}

.slide{
    width: 70%;
    margin-left: 15%;
    height: 250px;
}

#dataImage{
    width: 100%;
    height: 200px;
    margin-left:0; 
}

.projectButton{
    color: white;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    border-radius: 1em;
    margin-top: 0.5em;
    border: none;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    cursor: pointer;
    border: 2px solid white;
    background: none;
}

.projectButton:focus{
    outline: none; 
}


#projectsButton{
    margin-top: 8em;
    margin-left: 10%;
}

#projectsButton:focus{
    outline: none; 
}

.contact{
    width: 2em;
    height: 2em;
}

footer{
    background-color: #2e8538;
    color: white;
    text-align: center;
}

footer a img{
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

#rights{
    margin: 0;
    font-size: 0.7em;
}
  
