@import url('https://fonts.googleapis.com/css?family=Signika+Negative');

*{
    font-family: 'Signika Negative', sans-serif;
}

body{
    margin:0;
}

header{
    width: 100%;
    height: 3em;
}

#burguer{
    width: 2.5em;
    height: 2.5em;
    margin-top: 0.5em; 
    margin-left: 0.5em;
    position: fixed;
}

#menuContent{
    display: none;
    margin-left: -3em;
    margin-top: 3em;
    z-index: 1;
}

.menu {
    background-color: black; 
    border: none;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    display: block;
    padding: 0.5em;

}

header nav{
    width: 70%;
    height: 50%;
    position: fixed;
  }
  
header nav ul{
    list-style: none;
}
  
header nav ul li a:link{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-decoration-style: none;
}

header nav ul li a:visited{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-decoration-style: none;
}

header nav ul li a:active{
    color: #2e8538;
    font-size: 1.5em;
    text-decoration: none;
    text-decoration-style: none;
}
header nav ul li a:hover{
    color: #2e8538;
    transition-duration: 0.7s;
    font-size: 1.5em;
    text-decoration: none;
    text-decoration-style: none;
}

h1{
    text-align: center;
    margin-bottom: 1em;
}


.decoration{
    width: 0.6em;
    height: 0.6em;
}

h2{
    margin:0;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    font-size: 1.3em;
    margin-bottom: 1em;
}

.button{
    border: 2px solid #2e8538;
    background: none;
    color: #2e8538;
    border-radius: 2em;
    width: 80%;
    font-size: 1.5em;
    margin-left: 10%;
    margin-top: 0.5em;
}

.button:focus{
    outline: none; 
}

.projectButton{
    color: #1B2021;
    text-align: center;
    width: 40%;
    border-radius: 1em;
    margin-top: 0.5em;
    border: none;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    cursor: pointer;
    border: 2px solid #1B2021;
    background: none;
}

.projectButton:focus{
    outline: none; 
}

.demo{
    float: left;
    margin-left: 1.5em;
}

.repo{
    float: right;
    margin-right: 1.5em;
}

section img{
    width: 40%;
    margin-left: 30%;
    height: 200px;
}

#datadashboardImage{
    width: 80%;
    margin-left: 10%;
}

section p{
    margin: 0;
    text-align: center;
    margin-top: 0.5em;
    width: 60%;
    margin-left: 20%;
}

.buttons{
    overflow: auto;
    margin-bottom: 2em;
}


@media (min-width: 768px){

    section img{
        width: 28%;
        margin-left: 36%;
        height: 300px;
    }

    .button{
        width: 33.3%;
        margin-left: 33.3%;
    }

    .projectButton{
        width: 20%;
    }

    .demo{
        margin-left: 25%;
    }
    
    .repo{
        margin-right: 25%;
    }

    section p{
        width: 40%;
        margin-left: 30%;
    }

    #datadashboardImage{
        width: 60%;
        margin-left: 20%;
    }
    
    

}

@media (min-width: 1024px){

    section img{
        width: 20%;
        margin-left: 40%;
        height: 350px;
    }

    .button{
        width: 20%;
        margin-left: 40%;
    }

    .projectButton{
        width: 15%;
    }

    .demo{
        margin-left: 30%;
    }
    
    .repo{
        margin-right: 30%;
    }

    #datadashboardImage{
        width: 40%;
        margin-left: 30%;
        height: 300px;
    }
    
}
