

@import url('https://fonts.googleapis.com/css?family=Karla|Spectral');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

*{
    font-family: 'Karla', sans-serif;
}

body{
    margin:0;
}

header{
    width: 100%;
    height: 3em;
}

#burguer{
    width: 2.5em;
    height: 2.5em;
    margin-top: 0.5em; 
    margin-left: 0.5em;
    position: fixed;
}

#menuContent{
    display: none;
    margin-left: -3em;
    margin-top: 3em;
    z-index: 1;
}

.menu {
    background-color: black; 
    border: none;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    display: block;
    padding: 0.5em;

}

header nav{
    width: 70%;
    height: 50%;
    position: fixed;
  }
  
header nav ul{
    list-style: none;
}
  
header nav ul li a:link{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-decoration-style: none;
}

header nav ul li a:visited{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-decoration-style: none;
}

header nav ul li a:active{
    color: #4EBA65;
    font-size: 1.5em;
    text-decoration: none;
    text-decoration-style: none;
}
header nav ul li a:hover{
    color: #4EBA65;
    transition-duration: 0.7s;
    font-size: 1.5em;
    text-decoration: none;
    text-decoration-style: none;
}

h1{
    text-align: center;
    margin:0;
    font-family: 'Poiret One';
    font-weight: bolder;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #4EBA65;
 /*    background-image: url('../img/what-is-ux-design-.png');
    background-size: 100%; */
    margin-top: 0.25em;
}


.decoration{
    width: 0.6em;
    height: 0.6em;
}

h2{
    margin:0;
    width: 100%;
    text-align: center;
    margin-left: 0.5em;
    font-size: 1.3em;
    margin-bottom: 1em;
    font-family: 'Poiret One';
    font-weight: bolder;
}

.button{
    border: 2px solid #4EBA65;
    background: none;
    color: #4EBA65;
    border-radius: 2em;
    width: 80%;
    font-size: 1.5em;
    margin-left: 10%;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.button:focus{
    outline: none; 
}

.button:hover{
    background-color: #1B2021;
    transition-duration: 0.5s;
}

.button-b:hover{
    background-color: white !important;
}

.projectButton{
    color: #1B2021;
    text-align: center;
    width: 40%;
    border-radius: 1em;
    margin-top: 0.5em;
    border: none;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    cursor: pointer;
    border: 2px solid #1B2021;
    background: none;
}

.projectButton:focus{
    outline: none; 
}

.projectButton:hover{
    background-color: #1B2021;
    color:  #4EBA65;
    border: 2px solid #4EBA65;
    transition-duration: 0.5s; 
}

.project-button-w{
  color: white !important;
  border: 2px solid white !important;
}

.project-button-w:hover{
  background-color: white !important;
  color: #4EBA65 !important;
  border: 2px solid #4EBA65 !important;
}

.demo{
    float: left;
    margin-left: 1.5em;
}

.repo{
    float: right;
    margin-right: 1.5em;
}

.info-container{
  overflow: auto;
  width: 100%;
  padding-top: 2em;
}

.info-container-w{
  color: white !important;
}

.info-text-container{
  float: left;
  width: 45%;
}

section div img{
    width: 40%;
    margin-left: 5%;
    height: 200px;
    float: left;
}

#datadashboardImage{
    height: 100px;
    margin-top: 2em;
}

section div div p{
    margin: 0;
    text-align: justify;
    width: 100%;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.buttons{
    overflow: auto;
}


#TCR, #foodmap, #datadashboard{
  background-color: #1B2021;
}


.contact{
    width: 2em;
    height: 2em;
    float: left;
    margin-right: 0.5em;
}

/* #linkedin{
    margin-left: 0;
} */

footer{
    background-color: #4EBA65;
    color: white;
    text-align: center;
    height: 230px;
}

.contact-text{
    margin:0;
    float: left;
    cursor: pointer;
}


.contact-text:link{
    color: #1B2021;
    text-decoration: none;
    text-decoration-style: none;
    font-weight: bolder;
}

.contact-text:visited{
    color: #1B2021;
    text-decoration: none;
    text-decoration-style: none;
    font-weight: bolder;
}

.contact-text:active{
    color: white;
    text-decoration: none;
    text-decoration-style: none;
}
.contact-text:hover{
    color: white;
    transition-duration: 0.2s;
    text-decoration: none;
    text-decoration-style: none;
    border-bottom: 2px solid white;
}

.contact-container{
    overflow: auto;
    width: 90%;
    padding-top: 1em;
    margin-bottom: 1em;
    margin-left: 5%;
}


#rights{
    font-size: 0.7em;
}

@media (min-width: 768px){

    section div img{
        width: 30%;
        height: 350px;
        margin-left: 15%;
    }

    .buttons{
      margin-top: 1em;
      margin-bottom: 0.5em;
  }

    .button{
        width: 33.3%;
        margin-left: 33.3%;
    }

    .projectButton{
        width: 20%;
    }

    .demo{
        margin-left: 20%;
    }
    
    .repo{
        margin-right: 20%;
    }

    section div div p{
      font-size: 1.2em;
      margin: 0;
    } 

    #datadashboardImage{
        width: 40%;
        margin-left: 10%;
        margin-right: -5%;
        height: 200px;
    }

    h1{
        font-size: 3.5em;
        font-weight: bolder;
        padding-top: 146px;
        padding-bottom: 146px;
    }

    h2{
        font-size: 2em;
        font-weight: bolder;
        margin-left: 0;
    }

    #menuContent{
        width: 40%;
    }

    .info-text-container{
      width: 30%;
      margin-top: 10%;
      margin-left: 10%;
    }
    
    .contact{
        width: 2.5em;
        height: 2.5em;
    }  
    
    
    #rights{
        font-size: 0.8em;
    }
    
    /* #linkedin{
        margin-left: 0;
    } */
    
    footer{
        height: 310px;
        padding-top: 1em;
    }

    footer p {
        margin: 0;
    }
    
    footer a{
        font-size: 1.5em;
    }
    
    .contact-container{
        width: 50%;
        margin-left: 25%;
    }
    

    

}

@media (min-width: 1024px){

  #burguer{
    display: none;
  }


    .menu{
        float: left;
        padding: 0;
        border: none;
        background-color: transparent;
        font-size: 1em;
        margin-top: 0.5em;
    }
    
    #menuContent{
        display: inherit !important;
        width: 45%;
        height: 100%;
        margin-top: 0;
        margin-left: 55%;
    }

    header{
        background: #1B2021;
        margin: 0;
        height:3em;
        width: 100%;
        margin-top: -1em;
    }

    header nav{
        position: initial;
      }
    
      nav ul{
        text-align: center;
      }
    
      nav ul li{
        text-align: center;
        margin-left: 1.5em;
        margin-top: 0.3em;
      
      }
      

    
      header nav ul li a:visited{
        color: white;
        vertical-align:middle;
        font-weight: bold;
      }

      header nav ul li a:hover{
        border-bottom:2px solid #4EBA65 ;
        transition-duration: 0.1s;
        color: #4EBA65;
      }



    section div img{
        width: 40%;
        margin-left: 5%;
        height: 350px;
    }

    .button{
        width: 50%;
        margin-left: 25%;
    }

    .projectButton{
        width: 30%;
    }

    .demo{
        margin-left: 10%;
    }
    
    .repo{
        margin-right: 10%;
    }

    #datadashboardImage{
        width: 40%;
        margin-left: 5%;
        height: 200px;
    }

    h2{
        font-size: 2em;
        font-weight: bolder;
    }

    h1{
      margin-top: 0;
      padding-top: 128px;
      padding-bottom: 128px;
    }

    main{
     overflow: auto;
    }

    section{
      width: 50%;
      float: left;
    }

    .info-text-container{
      width: 40%;
      margin-left: 8%;
    }

    #datadashboard .info-container{
      padding-bottom: 100px;
    } 

    .contact{
        width: 3em;
        height: 3em;
        margin-left: 2.5em;
/*         margin-top: 1em;
       
        margin-bottom: 1em; */
    }  
    
    
    #rights{
        font-size: 0.9em;
    }

    #phrase{
        margin-top: 1em;
        padding-bottom: 0.5em;
    }

  
    footer{
        padding-top:2em;
        height: 370px;
    }

    footer p {
        margin-top: 2.5em;
    }


  #datadashboard{
    padding-bottom: 113.813px;
  }

  .margin-container{
      margin-left: 10% !important;
  }
}


@media (min-width: 1280px){

  #menuContent{
    width: 35%;
    margin-left: 65%;
         
  }

  section div img{
      width: 30%;
      margin-left: 15%;
  }

  .info-text-container{
    width: 30%;
    margin-left: 15%;
  }

  .demo{
    margin-left: 15%;
  }

 .repo{
    margin-right: 15%;
 }

 .button{
  width: 40%;
  margin-left: 30%;
}


.contact-text{
    margin-top: 0.5em;
}

footer{
    padding-top:3em;
    height: 380px;
}

.contact-container{
    width: 40%;
    margin-left: 30%;
}

footer p {
    margin-top: 3.5em;
}

}
