<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/about.css" />
    
</head>
<body>

	<header>
    <img  id="burguer" src="assets/img/burguercircle.png" alt="burguer menu">
    <nav id="menuContent">
      <ul>
        <li class="menu"><a href="../index.html">Inicio</a></li>
        <li class="menu"><a href="projects.html">Mis Proyectos</a></li>
        <li class="menu"><a href="about.html">Sobre mí</a></li>
      </ul>
    </nav>
  </header>

  <h1><span><img src="assets/img/share-black.png" class="decoration" alt="decoration"></span> <span class="green">F</span>iorella <span class="green">S</span>ánchez <span><img src="assets/img/share-black.png" class="decoration" alt="decoration"></span></h1>
  <p id="about">Como UX designer logro conectar a las personas con el universo tech. Autodidacta multidisciplinaria, curiosa y siempre con nuevas ideas para desarrollar. Amo comprender a las personas para crear nuevas y mejores experiencias que generen impacto.</p>
  <h2><span class="green">C</span>ontáctame</h2>
  <div id="linkedin">
    <a href="https://www.linkedin.com/in/fiorellasaro/" target="_blank"><img class="contact" src="assets/img/linkedin.png" alt="linkedin"></a>
    <p class="contactText">linkedin.com/in/fiorellasaro</p>
  </div>

  <div id="github">
    <a href="https://github.com/fiorellasaro" target="_blank"><img class="contact" src="assets/img/github-sign.png" alt="github"></a>
    <p class="contactText">github.com/fiorellasaro</p>
 </div>

 <div id="gmail">
    <a href="mailto:fiorellasaro27@gmail.com" target="_blank"><img class="contact" src="assets/img/gmail.png" alt="github"></a>
    <p class="contactText">fiorellasaro27@gmail.com</p>
 </div>
 


 

		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="../controller/projects.js"></script>
</body>
</html>