<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/about.css" />
    <link rel="icon" type="image/png" href="assets/img/logo.png" />
    
</head>
<body>

	<header>
    <img  id="burguer" src="assets/img/burguercircle.png" alt="burguer menu">
    <nav id="menuContent">
      <ul>
        <li class="menu"><a href="../index.html">Inicio</a></li>
        <li class="menu"><a href="projects.html">Mis Proyectos</a></li>
        <li class="menu"><a href="about.html">Sobre mí</a></li>
      </ul>
    </nav>
  </header>

<section id="description">
  <h1><span><img src="assets/img/share-black.png" class="decoration" alt="decoration"></span> Fiorella Sánchez <span><img src="assets/img/share-black.png" class="decoration" alt="decoration"></span></h1>
  <p id="about">Como UX designer logro conectar a las personas con el universo tech. Autodidacta multidisciplinaria, curiosa y siempre con nuevas ideas para desarrollar. Amo comprender a las personas para crear nuevas y mejores experiencias que generen impacto.</p>
</section>


<section id="soft">
  <div class="info-container info-container-w">
     <h2>Soft Skills</h2>
     <img class="skills" src="assets/img/soft.png" alt="soft skills image">
     <p>Empatía, Proactividad, Multidisciplinaria, Creatividad, Análisis, Mente Crítica y estratégica</p>
  </div>
</section>


<section id="tech">
 <div class="info-container">
     <h2>Tech Skills</h2>
     <img class="skills" src="assets/img/tech.png" alt="tech skills image">
     <p>CSS3, JavaScript, HTML5, Metodología Ágil, Marvel, Figma, Maze, Illustrator, CorelDRAW, Bootstrap, Git/Github</p>
 </div>
</section>

<section id="CV">
  <div class="info-container info-container-w">
      <h2>Mi Curriculum</h2>
     <img id="cv-image" src="assets/img/file white.png" alt="CV image">
  </div>
  <div class="buttons">
    <button id="button" class="projectButton project-button-w">Descargar CV</button>
  </div>
</section>

<section id="contact">
  <div class="info-container">
      <h2>Contáctame</h2>
      <div id="linkedin">
        <a href="https://www.linkedin.com/in/fiorellasaro/" target="_blank"><img id="linkedinIcon" class="contact" src="assets/img/linkedin.png" alt="linkedin"></a>
        <a class="contactText" href="https://www.linkedin.com/in/fiorellasaro/" target="_blank">linkedin.com/in/fiorellasaro</a>
      </div>
    
      <div id="github"> 
        <a href="https://github.com/fiorellasaro" target="_blank"><img id="githubIcon" class="contact" src="assets/img/github-sign.png" alt="github"></a>
        <a class="contactText" href="https://github.com/fiorellasaro" target="_blank">github.com/fiorellasaro</a>
     </div>
    
     <div id="gmail">
        <a href="mailto:fiorellasaro@outlook.com" target="_blank"><img id="mailIcon" class="contact" src="assets/img/gmail.png" alt="mail"></a>
        <a class="contactText" href="mailto:fiorellasaro@outlook.com" target="_blank">fiorellasaro@outlook.com</a>
     </div> 
  </div>  
</section>
 



 

		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="../controller/about.js"></script>
</body>
</html>