<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fiorella Sánchez's Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/project-expo.css" />
    <link rel="icon" type="image/png" href="assets/img/logoHD.png" />
    
</head>
<body>

	<header>
    <img  id="burguer" src="assets/img/burguercircle.png" alt="burguer menu">
    <nav id="menuContent">
      <ul>
        <li class="menu"><a href="../index.html">Inicio</a></li>
        <li class="menu"><a href="projects.html">Mis Proyectos</a></li>
        <li class="menu"><a href="about.html">Sobre mí</a></li>
      </ul>
    </nav>
  </header>

  <h1><span><img src="assets/img/share-black.png" class="decoration" alt="decoration"></span> Caesar Cipher <span><img src="assets/img/share-black.png" class="decoration" alt="decoration"></span></h1>
  <main>
    <section id="caesar">
        <div class="info-container">
           <img src="assets/img/Cifrado.png" alt="Caesar Cipher">
           <div class="info-text-container">
           <!--   <h2>Caesar Cipher</h2> -->
             <p>Cifra y descifra mensajes para que te puedas comunicar en secreto.</p>
           </div>  
         </div>
         <div class="buttons">
           <button class="projectButton demo">Demo</button>
           <button class="projectButton repo">Repositorio</button>
         </div>
<!--          <button class="button">Proceso</button> -->
    </section>   
<!--       
    <section>
      <div class="info-container">
          <h2>Sobre el proyecto</h2>
          <p>Este fue el primer proyecto que desarrollé en el bootcamp de Laboratoria Lima 2018-I. El proyecto consistía en desarrollar una aplicación web que permita enviar mensajes cifrados y que también te devuelva el mensaje descifrado. El método de cifrado empleado fue el código César.</p>
          <h3>Equipo y rol:</h3>
          <p>El proyectó se desarrolló individualmente, por lo que fui UX designer y Front-end developer.</p>
          
      </div>
    </section>

    <section class="section-b section">
        <div class="info-container info-container-w">
            <h2>El problema</h2>
            <p>No solo nos pidieron desarrollar la aplicación sino que también hubo un contexto: "la aplicación web será creada para poder comunicarte con amigos y familiares en secreto y así tu novix no sabrá de la fiesta sorpresa que le estás organizando".</p>
            <p>El contexto fue de relevante consideración al momento de diseñar la interfaz de la aplicación web y el contenido de este.</p>
        </div>
    </section>

    <section class="section">
        <div class="info-container">
            <h2>La solución</h2>
            <p>Cómo las exploré. Tipos de sketches-up, prototipo, pruebas que hice. Cómo/qué probé (testing) lo que aprendí de las pruebas. Resultado final</p>
        </div>
    </section>

    <section class="section-b">
        <div class="info-container info-container-w">
            <h2>Lo que aprendí</h2>
            <p>¿Qué pude hacer mejor? ¿En qué parte desearía haber tenido más tiempo?</p>
        </div>
    </section>

    <section class="section-b">
        <div class="info-container info-container-w">
            <h2>Conclusión</h2>
            <p>mmmmmmmmmmmm</p>
        </div>
    </section> -->

  </main>
 

<footer>
  <a href="https://www.linkedin.com/in/fiorellasaro/" target="_blank"><img class="contact" id="linkedin" src="assets/img/linkedin.png" alt="linkedin"></a>
  <a href="https://github.com/fiorellasaro" target="_blank"><img class="contact" src="assets/img/github-sign.png" alt="github"></a>
  <a href="mailto:fiorellasaro27@gmail.com" target="_blank"><img class="contact" src="assets/img/gmail.png" alt="mail"></a>
  <p id="rights">© Fiorella Sánchez 2018</p>
</footer>

  


		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="../controller/project-cipher.js"></script>
</body>
</html>