<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fiorella Sánchez's Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/projects.css" />
    <link rel="icon" type="image/png" href="assets/img/logoHD.png" />
    
</head>
<body>

	<header>
    <img  id="burguer" src="assets/img/burguercircle.png" alt="burguer menu">
    <nav id="menuContent">
      <ul>
        <li class="menu"><a href="../index.html">Inicio</a></li>
        <li class="menu"><a href="projects.html">Mis Proyectos</a></li>
        <li class="menu"><a href="about.html">Sobre mí</a></li>
      </ul>
    </nav>
  </header>

  <h1><span><img src="assets/img/share-black.png" class="decoration" alt="decoration"></span> Mis Proyectos <span><img src="assets/img/share-black.png" class="decoration" alt="decoration"></span></h1>
  <main>
      <section id="TCR">
          <div class="info-container info-container-w">
            <img src="assets/img/MarketPlace.png" alt="MarketPlace">
            <div class="info-text-container margin-container">
              <h2>Market Place</h2>
              <p>Tienda online para The Coffee Road, una cafetería especializada.</p>
            </div>
          </div>
          <div class="buttons">
            <button class="projectButton demo project-button-w">Demo</button>
            <button class="projectButton repo project-button-w">Repositorio</button>
          </div>
   <!--        <button class="button button-b">Proceso</button> -->
       </section>
      
       <section id="comunal">
         <div class="info-container">
            <img src="assets/img/Comunal.png" alt="Comunal checkin">
            <div class="info-text-container margin-container">
              <h2>Guest registration</h2>
              <p>Registra visitantes para Comunal Coworking, su hora de ingreso y salida.</p>
            </div>  
         </div>
        <div class="buttons">
          <button class="projectButton demo">Demo</button>
          <button class="projectButton repo">Repositorio</button>
        </div>
 <!--        <button class="button">Proceso</button> -->
      </section>
      
      <section id="foodmap">
        <div class="info-container info-container-w">
          <img src="assets/img/Foodmap.png" alt="foodmap">
          <div class="info-text-container margin-container">
            <h2>FoodMap</h2>
            <p>Podrás saber cuáles son los restaurantes más cercanos según tu ubicación actual.</p>
          </div>  
        </div>
        <div class="buttons">
          <button class="projectButton demo project-button-w">Demo</button>
          <button class="projectButton repo project-button-w">Repositorio</button>
        </div>
<!--         <button class="button button-b">Proceso</button> -->
      </section>
      
      <section id="socialNetwork">
        <div class="info-container">
          <img src="assets/img/SocialSweet.png" alt="Social Network">
          <div class="info-text-container margin-container">
            <h2>Social Sweet</h2>
            <p>Una red social hecha especialmente para amantes de la repostería.</p>  
          </div>  
        </div>
        <div class="buttons">
          <button class="projectButton demo">Demo</button>
          <button class="projectButton repo">Repositorio</button>
        </div>
<!--         <button class="button">Proceso</button> -->
      </section>
      
      <section id="datadashboard">
        <div class="info-container info-container-w">
          <img src="assets/img/Datadashboard.png" id="datadashboardImage" alt="datadashboard">
          <div class="info-text-container">
            <h2>Datadashboard</h2>
            <p>Muestra el progreso del LMS de cada una de las alumnas de Laboratoria Lima 2018-I.</p> 
          </div>  
        </div>
        <div class="buttons">
          <button class="projectButton demo project-button-w">Demo</button>
          <button class="projectButton repo project-button-w">Repositorio</button>
        </div>
<!--         <button class="button button-b">Proceso</button> -->
      </section>
      
      <section id="caesar">
       <div class="info-container">
          <img src="assets/img/Cifrado.png" alt="Caesar Cipher">
          <div class="info-text-container margin-container">
            <h2>Caesar Cipher</h2>
            <p>Cifra y descifra mensajes para que te puedas comunicar en secreto.</p>
          </div>  
        </div>
        <div class="buttons">
          <button class="projectButton demo">Demo</button>
          <button class="projectButton repo">Repositorio</button>
        </div>
<!--         <button class="button">Proceso</button> -->
      </section>      
  </main>
 

  <footer>
      <div class="contact-container">
        <a href="https://www.linkedin.com/in/fiorellasaro/" target="_blank"><img class="contact" id="linkedin" src="assets/img/linkedin.png" alt="linkedin"></a>
        <a class ="contact-text" href="https://www.linkedin.com/in/fiorellasaro/" target="_blank">linkedin.com/in/fiorellasaro</a>
      </div>
  
      <div class="contact-container">
        <a href="https://github.com/fiorellasaro" target="_blank"><img class="contact" src="assets/img/github-sign.png" alt="github"></a>
        <a class ="contact-text" href="https://github.com/fiorellasaro" target="_blank">github.com/fiorellasaro</a>
      </div>
  
      <div class="contact-container">
        <a href="mailto:fiorellasaro@outlook.com" target="_blank"><img class="contact" src="assets/img/gmail.png" alt="github"></a>
        <a class ="contact-text" href="mailto:fiorellasaro@outlook.com" target="_blank">fiorellasaro@outlook.com</a>
      </div>
    
  
      <p id="rights">© Fiorella Sánchez 2018</p>
    </footer>

  


		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="../controller/projects.js"></script>
</body>
</html>