<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fiorella Sánchez's Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/project-expo.css" />
    <link rel="icon" type="image/png" href="assets/img/logoHD.png" />
    
</head>
<body>

	<header>
    <img  id="burguer" src="assets/img/burguercircle.png" alt="burguer menu">
    <nav id="menuContent">
      <ul>
        <li class="menu"><a href="../index.html">Inicio</a></li>
        <li class="menu"><a href="projects.html">Mis Proyectos</a></li>
        <li class="menu"><a href="about.html">Sobre mí</a></li>
      </ul>
    </nav>
  </header>

  <h1><span><img src="assets/img/share-black.png" class="decoration" alt="decoration"></span> Mis Proyectos <span><img src="assets/img/share-black.png" class="decoration" alt="decoration"></span></h1>
  <main>
    <section id="caesar">
        <div class="info-container">
           <img src="assets/img/Cifrado.png" alt="Caesar Cipher">
           <div class="info-text-container margin-container">
             <h2>Caesar Cipher</h2>
             <p>Cifra y descifra mensajes para que te puedas comunicar en secreto.</p>
           </div>  
         </div>
         <div class="buttons">
           <button class="projectButton demo">Demo</button>
           <button class="projectButton repo">Repositorio</button>
         </div>
<!--          <button class="button">Proceso</button> -->
       </section>     
  </main>
 

<footer>
  <a href="https://www.linkedin.com/in/fiorellasaro/" target="_blank"><img class="contact" id="linkedin" src="assets/img/linkedin.png" alt="linkedin"></a>
  <a href="https://github.com/fiorellasaro" target="_blank"><img class="contact" src="assets/img/github-sign.png" alt="github"></a>
  <a href="mailto:fiorellasaro27@gmail.com" target="_blank"><img class="contact" src="assets/img/gmail.png" alt="mail"></a>
  <p id="rights">© Fiorella Sánchez 2018</p>
</footer>

  


		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="../controller/project-cipher.js"></script>
</body>
</html>